.pragmatic_logo {
    font-family: 'Gamja Flower', cursive;
}

.pragmatic_footer_button {
    font-size: .9rem;
}

.pragmatic_footer {
    text-align: center;
    margin-top: 2rem;
}

.pragmatic_header {
    text-align:center;
    margin: 2rem 0;
}

@media screen and (max-width:500px) {
    /*max-width가 500이하면 적용해 달라*/
    html {
        font-size: 13px;
    }
}